
<main>

    <header>
        <button type="button">Adicionar novo usuário</button>
    </header>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nome</th>
                <th>Email</th>
                <th>Senha</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of users">
                <td>{{ user.id }}</td>
                <td>{{ user.nome }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.senha }}</td>                
            </tr>
        </tbody>
    </table>
</main>
